.App {
  text-align: center;
}

.App-header {
  background-color: lightcyan;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: max-content;
  gap: 10px;
  justify-content: space-around;
  color: black;
  margin-left: 0px;
}

.header-box {
  border: 1px solid black;
  width: 200px;
  height: 50px;
  background-color: lightcyan;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 50px;
}
